---
- name: Install Maven
  ansible.builtin.package:
    name: maven
    state: present

- name: Install PyMySQL and cryptography Python packages
  ansible.builtin.pip:
    name:
      - PyMySQL
      - cryptography
    state: present

- name: Create roboshop system user
  ansible.builtin.user:
    name: roboshop
    shell: /sbin/nologin
    system: true
    home: /app

- name: Create /app directory
  ansible.builtin.file:
    path: /app
    state: directory

- name: Download shipping.zip
  ansible.builtin.get_url:
    url: https://roboshop-artifacts.s3.amazonaws.com/shipping-v3.zip
    dest: /tmp/shipping.zip

- name: Extract shipping.zip into /app
  ansible.builtin.unarchive:
    src: /tmp/shipping.zip
    dest: /app
    remote_src: yes

- name: Build the app using Maven
  ansible.builtin.command:
    cmd: mvn clean package
  args:
    chdir: /app

- name: Rename the jar file to shipping.jar
  ansible.builtin.command:
    cmd: mv target/shipping-1.0.jar shipping.jar
  args:
    chdir: /app

- name: Copy systemd service file
  ansible.builtin.copy:
    src: shipping.service
    dest: /etc/systemd/system/shipping.service

- name: Reload systemd daemon
  ansible.builtin.systemd:
    daemon_reload: yes

- name: Enable and start shipping service
  ansible.builtin.service:
    name: shipping
    state: started
    enabled: yes

- name: Install MySQL client
  ansible.builtin.package:
    name: mysql
    state: present

- name: Import MySQL database scripts
  ansible.builtin.mysql_db:
    login_host: "mysql.daws-84job.sbs"
    login_user: root
    login_password: "RoboShop@1"
    name: all
    state: import
    target: "{{ item }}"
  loop:
    - /app/db/schema.sql
    - /app/db/app-user.sql
    - /app/db/master-data.sql

- name: Restart shipping service
  ansible.builtin.service:
    name: shipping
    state: restarted
